.container {
  min-height: 660px;
  display: flex;
}

.card1 {
  width: 54%;
  margin-left: 10%;
  padding: 50px;
  padding-top: 100px;
}

.card2 {
  width: 36%;
}


.card1>span{
      color: gray;
      margin-top: 50px;
      font-style: italic;
}


.card1>h2{
      font-size: 36px;
      font-weight: normal;
}


.card1>p{
      color: gray;
}

.card1>hr{
      margin:30px 0;
}

@media screen and (max-width: 676px) {
      .card1 { 
            width: 100%;
            margin-left: 0;
      }
      .card2{
            display: none;
      }
}