.container {
  padding: 0px 100px;
}
.info{
  text-align: center;
}

.title {
  font-size: 30px;
  margin-top: 40px;
}
.what{
  min-width: 400px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.subtitle {
  font-size: 50px;
  color: black;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service {
  width: 350px;
  height: 350px;
  margin: 0;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
  cursor: pointer;
}

.catInfo {
  width: 70%;
  text-align: center;
  position: absolute;
  background-color: rgba(192, 189, 189, 0.582);
  padding: 20px;
  border-radius: 10px;
  z-index: 999;
  opacity: 1;
  transition: all 1s ease;
}

.cat {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9;
  text-transform: uppercase;
  color: WHITE;
  letter-spacing: 5px;
  font-weight: 300;
}

.media {
  width: 90%;
  height: 90%;
  background-color: yellow;
/*   border-radius: 50%; */
  overflow: hidden;
  transition: all 1s ease;
}
/* 
.service:hover .media {
  transform: scale(1.1);
} */

/* .service:hover .cat {
  font-weight: bold;
} */

/* .service:hover .catInfo {
  opacity: 1;
} */

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 20px;
  }

  .services {
    justify-content: center;
  }

  .service {
    width: 300px;
    height: 300px;
  }
}
