.container {
  font-size: 18px;
  height: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}


.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(39,38,140,1) 100%);
  color: aliceblue;
}

.card {
  width: 30%;
  padding: 40px;
}

.comment {
  font-size: 20px;
  font-weight: 300;
}

.person {
  display: flex;
  align-items: center;
}

.avatar {
  /* border-radius: 50%; */
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.username {
  font-weight: bold;
  color: #555;
}

.jobTitle {
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .container {
    padding-bottom: 20px;
  }
  .wrapper {
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 480px) {
  .container{
    height: auto;
    padding: 20px;
  }

  .title{
    margin-bottom: 40px;
    font-size: 50px;
  }
}